<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResultSummary</title>
    <link rel="stylesheet"
        href="https://2017.igem.org/wiki/index.php?title= Template:SCU_China/default_CSS &action=raw&ctype=text/css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/contentCommon.css">
    <style>
        #header #title {
            left: 10%;
        }

        #contain .left img {
            position: absolute;
            width: 70%;
            top: 180px;
            left: 20%;
            z-index: 1;
        }
    </style>
</head>

<body>
    <header id="header">
        <div id="load" v-show="loading"><img src="./data/T--CPU_CHINA--loading.gif" alt=""></div>
        <div id="menu">
            <div id="menuBack" v-show="isOpen" :class="isActive" @click="ifclick"></div>
            <a href="../index.html"><img id="logo" src="./data/T--CPU_CHINA--ProjectLogo.png" alt="项目logo"></a>
            <div id="select" @mouseleave="leave" @mouseover="on">
                <img id="menuImg" :src="menu" alt="这是菜单图片" @mouseover="mouseover" @click="click">
                <ul id="class-a" class="class" v-show="classA">
                    <li v-for="(item,index) in classList" :class="isActiveA == index? 'class-a' : ''"
                        @click="classAClick(index)">{{item}}</li>
                </ul>
                <ul id="class-b" class="class" v-show="classB">
                    <li v-for="item in classList2[isActiveA]" :class="isActiveB == item.num? 'class-b' : ''"
                        @mouseover="classBOver(item.num)" @mouseleave="classBLeave(item.num)"><a :href="item.url">
                            {{item.text}}</a></li>
                </ul>
            </div>
        </div>
        <img class="background" src="./data/TopBackground/3 result/T--CPU_CHINA--Summary--background.png" alt="">
        <h1 id="title">RESULT SUMMARY</h1>
        <svg width="100%" height="100%" viewBox="0 0 1920 600" version="1.1"
            style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
            <g transform="matrix(1.16285,0,0,1.38837,253.426,-231.748)">
                <g id="AD1">
                    <path id="凹形遮罩"
                        d="M1433.18,439.801C1433.18,439.801 1001.08,524.071 607.621,524.374C219.99,524.673 -217.935,439.801 -217.935,439.801L-217.935,944.811L1433.18,944.811L1433.18,439.801Z"
                        style="fill:#FAFAFA;" />
                </g>
            </g>
        </svg>
    </header>
    <div id="contain" class=" clearfix">
        <div class="left clearfix">
            <svg class="Frosting" width="70%" height="280px">
                <defs>
                    <pattern id="cardBg" x="0" y="0" width="100" height="100" patternUnits="userSpaceOnUse">
                        <image opacity="0.5" width="100" height="100" xlink:href="./data/T--CPU_CHINA--Frosting1.png" />
                        <image class="fillLight" opacity="0.5" width="100" height="100"
                            xlink:href="./data/T--CPU_CHINA--Frosting2.png" />
                    </pattern>
                </defs>
                <g class="main">
                    <g class="card">
                        <rect fill="none" stroke="#ccc" opacity="0.75" stroke-width="3" width="100%" height="100%"
                            rx="10" ry="10" opacity="0.6" />
                        <rect fill="url(#cardBg)" width="100%" height="100%" rx="11" ry="11" opacity="0.6" />
                    </g>
                </g>
            </svg>
            <nav>
                <div class="catalogue-title">RESULT SUMMARY</div>
                <ul class="catalogue">
                    <li class="num">
                        <a href="#section1" title="PROLOGUE">PROLOGUE</a>
                    </li>

                    <li class="num">
                        <a href="#section2" title="MODELING">MODELING</a>
                    </li>

                    <li class="num">
                        <a href="#section3" title="MUTANT SCREENING">MUTANT SCREENING</a>
                    </li>
                </ul>
            </nav>
            <img src="./data/Left/T--CPU_CHINA--Keyboarding.png" alt="">
        </div>
        <div id="detail" class="clearfix">
            <div class="section" id="section1">
                <h2>PROLOGUE</h2>
                <p><span>The semi-rational directed evolution approach in protein engineering remarkably increase the efficiency
                    of enzyme remolding. In our project, we adopted computational software capable of performing QM and MD
                    calculations, as well as machine-learning algorithms to evolve our enzyme, which facilitated the generation of
                    small but targeted library. This strategy not only lessen the iterations to identify desired variants, but
                    also largely eliminated the need for high-throughput methods in library analysis.</span></p>
            </div>
            <div class="section" id="section2">
                <h2>MODELING</h2>
                <p><span>Initially, molecular dynamic simulation was performed to determine sets of amino acid residues with the
                    greatest impact on the thermostability of wild-type MnP (wtMnP). By interpreting results of RMSF, B-factor and
                    other indices reflecting secondary structure alteration of MnP at different temperature conditions, residues
                    with their position around 228-233 were selected for the subsequent construction of single mutation library by
                    FoldX. PLMC related analysis was also conducted in parallel to support the result produced by FoldX. Later,
                    Turi Create was applied to predict the &quot;scaled_effect&quot; of MnP, and Rosetta was used to correct the
                    mutation free energy of mutation points generated by FoldX to improve the reliability of the data. Eventually,
                    10 mutants with the smallest ΔΔG were selected for stability verification.</span></p>
            </div>
            <div class="section" id="section3">
                <h2>MUTANT SCREENING</h2>
                <p><span>Based on the original nucleotide sequence of manganese peroxidase, 4 out of 10 selected optimal mutants
                    (serial number </span><strong><span>1</span><sup><span>#</span></sup></strong><span>
                  </span><strong><span>2</span><sup><span>#</span></sup></strong><span>,
                  </span><strong><span>7</span><sup><span>#</span></sup></strong><span> and
                  </span><strong><span>8</span><sup><span>#</span></sup></strong><span>) were successfully generated on shuttle
                    vector pPIC9K by applying site-directed mutagenesis, and were transferred into </span><em><span>Pichia
                      pastoris</span></em><span> for heterogenous protein expression, followed by assaying the enzym distinct
                    temperature, pH and organic solvent conditions. As a result, mutant
                  </span><strong><span>8</span><sup><span>#</span></sup></strong><span> showed a significant activity improvement
                    under low pH condition, while mutant </span><strong><span>7</span><sup><span>#</span></sup></strong><span>’s
                    organic solvent stability was remarkably improved.</span></p>
            </div>
        </div>
    </div>
    </div>
    <footer>
        <div id="sponsor">
            <img src="./data/Bottom/T--CPU_CHINA--Logoes.png" alt="">
        </div>
        <div id="connect">
            <h4>Contact us</h4>
            <ul id="contact">
                <li>
                    <a href="https://weibo.com/u/6054819039">
                        <img src="./data/Bottom/T--CPU_CHINA--weibologo.png" alt="">
                        <p>@CPU_CHINA2021</p>
                    </a>
                </li>
                <li>
                    <a href="mailto:cpu_china2021@163.com">
                        <img src="./data/Bottom/T--CPU_CHINA--emailLogo.png" alt="">
                        <p>cpu_china2021@163.com</p>
                    </a>
                </li>
                <li>
                    <a href="https://international.cpu.edu.cn/">
                        <img src="./data/Bottom/T--CPU_CHINA--CPUlogo.png" alt="">
                        <p>Interational Communication</p>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script
        src="https://2021.igem.org/wiki/index.php?title= Template:CPU_CHINA/VueJS &action=raw&amp;ctype=text/javascript">
        </script>
    <script
        src="https://2021.igem.org/wiki/index.php?title= Template:CPU_CHINA/Jquery &action=raw&amp;ctype=text/javascript">
        </script>
    <script src="./js/common.js"></script>
</body>

</html>